// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";

.dropdownMenu{
    display: flex;
    justify-content: center;
    background-color: rgb(168, 212, 238);
    height: 400px;
}

.labels{
    width: 200px;
    display: inline-block;
    margin: 5px;
}












