
body {
    background-color: aqua;
}



@import '../../src/screens/LandingPage.module.css';


@import '_studentDashboard.scss';
@import './manageUser';




@import '_leavePage.scss';

@import '_studentNavbar.scss';

@import '_adminNavbar.scss';

@import '_signUpPage.scss';

@import '_stuTask.scss';
@import '_taskReview.scss'
