
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    text-shadow: 3px 1px 0px #030000;
    -webkit-box-shadow: 1px 1px 5px #000000;
    -moz-box-shadow: 1px 1px 5px #000000;
    box-shadow: 1px 1px 5px #000000;
    font-family: Georgia;
    color: #ffffff;
    font-size: 28px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
    width: 400px;
    margin-bottom: 20px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .buttonContainer {
 
     display: flex;
     flex-direction: column;
     position: absolute;
     bottom: 190px;
    

   

  }

  .mainContainer {
      display: flex;
      justify-content:center;
      align-items: center;
      background-image: url("https://wallpapercave.com/uwp/uwp624717.png");
      width: 100%;
      height: 700px;
     
      background-repeat: no-repeat;
      background-size: cover;
      background-color: red;
  }